<h1> Hello There! </h1>

<h3> What's your name? </h3>
  <form action="/info" method="post">
    <label for="birthday_name">
    name
    <input type="text" name="birthday_name">
    </label>
    <h3> When's your birthday? </h3>
    <label for="day">
      day
    <input type="text" name="birthday">
    </label>
    <select name="month" size="1" id="month">
      <option value=""> Month -</option>
      <option value=01>January</option>
      <option value=02>February</option>
      <option value=03>March</option>
      <option value=04>April</option>
      <option value=05>May</option>
      <option value=06>June</option>
      <option value=07>July</option>
      <option value=08>August</option>
      <option value=09>September</option>
      <option value=10>October</option>
      <option value=11>November</option>
      <option value=12>December</option>
    </select>
    <button type="submit">Go!</button>
  </form>
